$orange: #ff6060;

.global-page {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  max-width: 1240px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .global-page {
    padding: 0 20px;
  }
}
