.collapse {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;

  .collapse-button {
    background-color: #ff6060;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
  }

  .collapse-content {
    background-color: #f9f9f9;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    padding: 0 10px;
    border: none;

    &.open {
      max-height: 500px;
      padding: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .arrow {
    display: inline-block;
    transition: transform 0.2s ease-in-out;

    &.up {
      transform: rotate(0deg);
    }

    &.down {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 768px) {
  .collapse {
    .collapse-button {
      font-size: 13px;
      padding: 10px 15px;
    }
  }
}
